<header>
  <div class="header-container">
    <img src="./img/logo.png" alt="Logo do Site" class="logo" />
    <nav>
      <ul>
        <li><a href="#inicio">INÍCIO</a></li>
        <li><a href="#produtos">PRODUTOS EM DESTAQUE</a></li>
        <li><a href="#catalogo">CATÁLOGO</a></li>
        <li><a href="#contato">CONTATO</a></li>
        <li><a href="#suporte">AJUDA/SUPORTE</a></li>
      </ul>
    </nav>
    <div class="header-icons">
      <a href="#login" class="icon"><img src="img/login.png" alt="Login"></a>
      <a href="#sacola" class="icon"><img src="img/carrinho.png" alt="Sacola"></a>
    </div>
    </div>
  </div>
</header>